Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` (you should of course delete `raise NotImplementedError()` which is there only as reminder), while not modifying the other cells (but you should run them to check the output you obtain). Please also fill your first and last name and your VU ID below:

In [1]:
STUDENT_FIRST_NAME = "Begüm" # e.g. "John" (no "J", no "J.", no "John S.M.")
STUDENT_LAST_NAME = "Yalçın"  # e.g. "Smith"
VU_ID_NUM = "2797623"          # e.g. "2789012"

---

# Assignment 2
The goal of this assignment is to make you familiar with the `pandas` library. This assignment is divided into 4 exercises, which are worth different amount of points (total is 100 points). We assume that the folder that you work in is the one obtained by unzipping the given ``assignment2.zip`` file and thus has the following structure. When working on your submission, please respect it, otherwise the autograder will give errors.


```
assignment2.ipynb
data/
    babynames/
    covid/
    movielens/
    owid/
```

## Important remarks
- **Working together**: You are meant to work individually on the first three assignments. You can, of course, brainstorm ideas and discuss issues with your fellow students, but you are required to write your solutions individually. 
- **Plagiarism**: All your code will be automatically scanned for plagiarism. Furthermore, using the internet as a passive resource is allowed. This means that you can search for help there and partially copy code, as long as you explicitly acknowledge inside your Jupyter notebook which parts have been copied and from where. 
- **Performance**: You should optimize the computational performance of your functions. Specifically, when grading the assignments, we set a hard limit of 15 seconds for each cell execution. This should be sufficient to cover each of the test cases. Function calls that take longer than 15 seconds will not be awarded any points.
- **Code styling**: Your implementation will not be checked for style. However, we do encourage you to practice good code styling. See, for example, https://docs.python-guide.org/writing/style/.
- **Chronological run**: All outputs should be repeatable by doing one full “chronological” run of the notebook without any manual changes to code blocks, including parameters. (try it yourself by clicking ``Kernel -> Restart and run all``, which should give the result as handed in).
- **Handing in**: Hand in the .ipynb file of your notebook on ``Canvas`` before the assignment deadline. 
- **Other questions**: If you have doubts/questions about the assignments, feel free to ask them in [this discussion thread](https://canvas.vu.nl/courses/68046/discussion_topics/648147) so that everyone will be able to see them and our answers.

In [2]:
from typing import Dict, Tuple, List
from pathlib import Path

import numpy as np
import pandas as pd

from numpy.testing import assert_equal, assert_allclose

# Exercise 1: US Baby names (20 points)
The United States Social Security Administration (SSA) has made data available on the frequency of baby names from 1880 through the present. The US SSA makes the data files once per year, each containing the total number of births for each sex/name combination. The raw archive of these files can be obtained from [here](http://www.ssa.gov/oact/babynames/limits.html). 

Below we ask six questions related to the data set. Moreover, the `names` variable contains a dataframe containing all baby name data from 2000 till 2021 (including). This dataframe will be used for all questions except the first one.

In [3]:
names = pd.read_csv("data/babynames/names2000_2021.csv", index_col=0)

## `concat_all_files` (4 points)
- Write a function called `concat_all_files` that takes no arguments. 
- The function should read all the text files (from 1990 to 1999) in the directory `data/names/` and combine them into a single pandas DataFrame. 
- The DataFrame should have four columns named `name`, `sex`, `births`, and `year`, where `year` indicates the year in which the data was published. You will need to add the `year` column yourself. 
- Sort the new data frame by year, name, births, and sex, respectively.
- Make sure that the `name` and `sex` columns are of type `string`, whereas the `births` and `year` columns are of type `int`.

In [4]:
def concat_all_files() -> pd.DataFrame:
    directory = Path('data/babynames/')
    dataframes = []
    files = [f for f in directory.iterdir() if f.suffix =='.txt']
    for file in files:
        year = int(file.stem)
        df = pd.read_csv(file, header=None, names=['name', 'sex', 'births'])
        df['year'] = year
        dataframes.append(df)
    concatenated = pd.concat(dataframes, ignore_index=True)
    concatenated['name'] = concatenated['name'].astype(str)
    concatenated['sex'] = concatenated['sex'].astype(str)
    concatenated['births'] = concatenated['births'].astype(int)
    concatenated['year'] = concatenated['year'].astype(int)
    concatenated.sort_values(['year', 'name', 'births', 'sex'], inplace=True)
    return concatenated
    
# YOUR CODE HERE
#raise NotImplementedError()

In [5]:
df = concat_all_files()
print(df.head())

           name sex  births  year
126867   Aakash   M      15  1990
130261    Aalap   M       6  1990
114722  Aaliyah   F      12  1990
131201    Aamer   M       5  1990
126695    Aamir   M      16  1990

In [55]:
# There is no test available for this question. Instead, you can look
# at an example of the desired output for the years 2000-2021 in the 
# dataframe that is stored in the 'names' variable above, which will
# be used for the remaining questions.

# You can also try the following prompt (note that it might differ 
# depending on your implementation):
# >>> df = concat_all_files()
# >>> print(df.head())
#             name sex  births  year
# 0         Aakash   M      15  1990
# 1          Aalap   M       6  1990
# 2        Aaliyah   F      12  1990
# 3          Aamer   M       5  1990
# 4          Aamir   M      16  1990

## `number_unique_female_names` (2 points)
-  Write a function called `number_unique_female_names` that takes the `names` dataframe as input. 
- The function should return the number of unique female names over the entire data set. 
- The `names` DataFrame has columns named `name` and `sex`, where `name` is a string representing a baby name and `sex` is a string representing the baby's sex ('M' for male and 'F' for female).

In [58]:
def number_unique_female_names(names: pd.DataFrame) -> int:
# YOUR CODE HERE
    female_names = names[names['sex'] == 'F']['name']
    return len(set(female_names))

#raise NotImplementedError()

In [59]:
assert_equal(number_unique_female_names(names[:5]), 5)
assert_equal(number_unique_female_names(names[:50001]), 25723)

## `most_popular_male_name_by_year` (2 points)
-  Write a function called `most_popular_male_name_by_year` that takes two arguments: a `names` dataframe and an integer called `year`. 
- The function should return the most popular (i.e., highest birth count) male name for the given year.

In [8]:
def most_popular_male_name_by_year(names: pd.DataFrame, year: int) -> str:
# YOUR CODE HERE
    year = names[(names['sex'] == 'M') & (names['year'] == year)]
    most_popular_male_name = year.loc[year['births'].idxmax(),'name']
    return most_popular_male_name

#raise NotImplementedError()

In [9]:
assert_equal(most_popular_male_name_by_year(names, 2000), 'Jacob')
assert_equal(most_popular_male_name_by_year(names, 2021), 'Liam')

## `births_year` (2 points)
- Write a function called `births_per_year` that takes two arguments: a `names` dataframe and an integer called `year`.
- The function should return the number of births for the given year.

In [10]:
def births_year(names: pd.DataFrame, year: int) -> int:
# YOUR CODE HERE
    given_year = names[names['year'] == year]
    num_births = given_year['births'].sum()
    return num_births
#raise NotImplementedError()

In [11]:
assert_equal(births_year(names, 2000), 3779380)

## `difference_female_male_births` (4 points)
- Write a function called `difference_female_male_births` that takes two arguments: a `names` dataframe and an integer called `year`.
- The function should return the difference in the number of female and male births for a given year.
- The difference should be equal to the number female births minus the number of male births.

In [12]:
def difference_female_male_births(names: pd.DataFrame, year: int):
# YOUR CODE HERE
    female_births = names[(names['sex'] == 'F')&(names['year'] == year)]['births'].sum()
    male_births = names[(names['sex'] == 'M')&(names['year'] == year)]['births'].sum()
    return female_births-male_births
#raise NotImplementedError()

In [13]:
assert_equal(difference_female_male_births(names, 2000), -147960)

## `last_letter_popularity` (6 points)
According to baby name researcher Laura Wattenberg, the distribution of male names has changed significantly over the last years. 
In particular, male names ending with the letter 'n' have become extremely popular in recent decades [(1)](https://qz.com/1278574/a-large-share-of-us-baby-names-end-with-n-for-some-reason/), whereas names ending with 'd' and 'y' have become less popular.
    
- Write a function named `last_letter_popularity` that takes three arguments: a `names` dataframe, a list of `years` and a string called `letter`.
- The function should return the fraction of births of males that have a name that ends with the given letter relative to the total number of male births over all considered years. 
- Round the fraction to three decimals places.

In [14]:
def last_letter_popularity(names: pd.DataFrame, years: List[int], letter: str) -> float:
# YOUR CODE HERE
    male_names = names[(names['sex'] == 'M')&(names['year'].isin(years))]
    sum_male_births = male_names['births'].sum()
    names_ending = male_names[male_names['name'].str.endswith(letter)]
    births_ending = names_ending['births'].sum()
    return round(births_ending / sum_male_births, 3)
#raise NotImplementedError()

In [15]:
one_year = list(range(2000, 2001))
one_decade = list(range(2000, 2010))
two_decades = list(range(2000, 2020))

assert_equal(last_letter_popularity(names, one_year, 'd'),  0.033)
assert_equal(last_letter_popularity(names, one_decade, 'd'),  0.027)
assert_equal(last_letter_popularity(names, two_decades, 'd'),  0.025)

# Exercise 2: Movielens (36 points)
[Movielens](https://grouplens.org/datasets/movielens/) is a well-known data set for movie ratings. We have stored the classic 100K Movielens data in the `data/movielens/` directory. Here are brief descriptions of the data.
- `u.data`: The user rating data set, 100000 ratings by 943 users on 1682 items. Each user has rated at least 20 movies.  Users and items are numbered consecutively from 1.  The data is randomly ordered. This is a tab separated list of user id | item id | rating | timestamp. The time stamps are unix seconds since 1/1/1970 UTC

- `u.user`: Demographic information about the users; this is a tab separated list of user id | age | gender | occupation | zip code The user ids are the ones used in the u.data data set.

- `u.item`: Information about the items (movies); this is a tab separated list of movie id | movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children's | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western | The last 19 fields are the genres, a 1 indicates the movie is of that genre, a 0 indicates it is not; movies can be in several genres at once. The movie ids are the ones used in the u.data data set.


The goal of this assignment is to analyze the provided Movielens data sets. This exercise consists of eight questions. To help you start, the code below loads each file as dataframe.

In [16]:
data_dir = 'data/movielens/'

CATEGORIES = ["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
movie_headers = ["movie id", "movie title", "release date", "video release date", "IMDb URL", "unknown"] + CATEGORIES

ratings = pd.read_csv(data_dir + 'u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
users = pd.read_csv(data_dir + 'u.user', sep='|', names=['age', 'gender', 'occupation', 'zip code'])
movies = pd.read_csv(data_dir + 'u.item', sep='|', index_col=0, encoding='latin-1', names=movie_headers)

## `num_ratings` (2 points)
-  Write a function called `num_ratings` that takes a DataFrame of ratings as input.
- The function should return the number of ratings in the list as an integer.

In [17]:
def num_ratings(ratings: pd.DataFrame):
# YOUR CODE HERE
    num_ratings = ratings.shape[0]
    return num_ratings
#raise NotImplementedError()

In [18]:
assert_equal(num_ratings(ratings[:100]), 100)

## `stats_ratings` (2 points)
- Write a function called `stats_ratings` that takes a list of ratings as input.
- The function should return a tuple containing the average and standard deviation of ratings as floats.
- The average and standard deviation should be rounded to two decimal places.
- Use the `pd.DataFrame.describe` method to obtain the mean and standard deviation.

In [19]:
def stats_ratings(ratings: pd.DataFrame):
# YOUR CODE HERE
    ratings_df = pd.DataFrame(ratings, columns=['rating'])
    stats = ratings_df.describe()
    avg = round(stats.loc['mean', 'rating'], 2)
    std_dev = round(stats.loc['std', 'rating'], 2)
    return avg, std_dev
#raise NotImplementedError()

In [20]:
assert_equal(stats_ratings(ratings[:10]), (2.70, 1.25))

## ``num_ratings_user`` (2 points)
- Write a function called `num_ratings_user` that takes a list of ratings and a `user_id` as inputs.
- The function should return the number of ratings that the provided user has made.
- The number of ratings should be returned as an integer.

In [21]:
def num_ratings_user(ratings: pd.DataFrame, user_id: int):
# YOUR CODE HERE
    return (ratings['user_id']==user_id).sum()    
#raise NotImplementedError()

In [22]:
assert_equal(num_ratings_user(ratings, 13), 636)

## ``average_per_category`` (6 points)
- Write a function called `average_per_category` that takes three inputs: a ratings DataFrame and a movies DataFrame, and a category. 
- The function should return the average rating for all movies in the given category.
- The average rating should be rounded to two decimal places.

In [23]:
def average_per_category(ratings: pd.DataFrame, movies: pd.DataFrame, category: str):
# YOUR CODE HERE
    category_movies = movies[movies[category]==1].index
    mean = ratings[ratings['item_id'].isin(category_movies)]['rating'].describe()['mean']
    return round(mean, 2)

#raise NotImplementedError()

In [24]:
assert_equal(average_per_category(ratings, movies, 'Fantasy'), 3.22)

## `most_rated_category_by_occupation` (6 points)
- Write a function called `most_rated_category_by_occupation` that takes four inputs: a ratings DataFrame, a users DataFrame, a movies DataFrame, and a user's occupation as string.
- The function should return the top 5 most rated movie categories for users that belong to the given occupation.
- The returned value should be a list of the top 5 categories in order of decreasing popularity.

In [25]:
def most_rated_category_by_occupation(ratings: pd.DataFrame, users: pd.DataFrame, movies: pd.DataFrame, occupation: str):
# YOUR CODE HERE
    category_counts = {}
    top_five_categories = []
    users_occupation = users[users['occupation'] == occupation]
    ratings_occupation =ratings[ratings['user_id'].isin(users_occupation.index)]
    for category in movies.columns:
        # filter by category
        movies_category = movies[movies[category] == 1]
        # count number of ratings for people with occupation
        category_count = ratings_occupation[ratings_occupation['item_id'].isin(movies_category.index)].shape[0]
        category_counts[category] = category_count
    # return top five categories 
    for _ in range(5):
        max_category = max(category_counts, key=category_counts.get)
        top_five_categories.append(max_category)
        del category_counts[max_category]
    return top_five_categories

#raise NotImplementedError()

In [26]:
assert_equal(most_rated_category_by_occupation(ratings[:1000], users, movies, 'engineer'), ['Action', 'Comedy', 'Romance', 'Drama', 'Thriller'])

## `highest_rated_movie` (4 points)
- Write a function called `highest_rated_movie` that takes three inputs: a ratings DataFrame and a movies DataFrame, and an integer `min_n`.
- The function should return the name of the movie with the highest average rating with at least `min_n` ratings.
- The movie title returned should be in the format of "Movie Title (Release Year)", for example, "Toy Story (1995)".

In [27]:
def highest_rated_movie(ratings, movies, min_n):
    num_ratings = ratings.groupby('item_id').size()
    #filter movies 
    indices = num_ratings >= min_n
    #take average
    avg_ratings = ratings.groupby('item_id')['rating'].mean()
    highest_rated_movie = avg_ratings[indices].idxmax()
    return movies['movie title'].loc[highest_rated_movie]
    
# YOUR CODE HERE
#raise NotImplementedError()

In [28]:
assert_equal(highest_rated_movie(ratings[:100], movies, min_n=3), "Sabrina (1995)")

## `mismatched_release_date` (8 points)

All movie titles contain the year of release, e.g., Toy Story (1995).
However, if you pay close attention to some of the movie titles, you will notice that
these years do not always match the values in the "release date" column.
For example, the last movie is "Scream of Stone (Schrei aus Stein) (1991)"
whereas the value in the "release date" column is 08-Mar-1996.

-  Write a function called `mismatched_release_date` that takes a movies DataFrame as input.
- The function should return the number of movies where the year in the movie title does not match the year in the `release date` column.
- If a movie title name does not contain a release date, or if the release
  date column is empty, then you should ignore the corresponding row entry.
- Hint: You may assume that every movie title ends with "(YEAR)".

In [29]:
def mismatched_release_date(movies: pd.DataFrame):
    count = 0
    for i, row in movies.iterrows():
        movie_title = row['movie title']
        release_date = row['release date']
        # check if release date missing or title doesnt end with )
        if pd.isnull(release_date) or not movie_title.endswith(')'):
            continue
        #take year from title and date
        year_title = movie_title[-5:-1]
        year_release_date = release_date[-4:]
        # if mismatch increment the count by 1
        if year_title!= year_release_date:
            count += 1
    return count

# YOUR CODE HERE
#raise NotImplementedError()

In [30]:
assert_equal(mismatched_release_date(movies[:20]), 2)

## `one_hot_encoding` (6 points)
In the `movies` dataframe, all movie genres are one-hot encoded. In more recent versions of the movielens data set, the genres are no longer one-hot encoded, see the `new_movies` dataframe below.

Here is a description of the data set:
```
Movies Data File Structure (movies.csv)
---------------------------------------

Movie information is contained in the file `movies.csv`. Each line of this file after the header row represents one movie, and has the following format:

    movieId,title,genres

Movie titles are entered manually or imported from <https://www.themoviedb.org/>, and include the year of release in parentheses. Errors and inconsistencies may exist in these titles.

Genres are a pipe-separated list.
```

In [31]:
new_movies = pd.read_csv('data/movielens/new_movies.csv', index_col='movieId')
new_movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

- Write a function `one_hot_encode` that takes the new movies dataframe as input and one-hot encodes the genres.
- The function should return a dataframe that contains a column for each movie genre, and a binary value (0 or 1) to indicate whether the movie belongs to this genre.

In [32]:
def one_hot_encode(movies: pd.DataFrame) -> pd.DataFrame:
    genres_set = set()
    # get and split genres
    for genres_list in movies['genres'].str.split('|'):
        genres_set.update(genres_list)
    genres_set = sorted(genres_set)
    one_hot_encoded_dict = {} 
    # construct one-hot encoded columns with 0
    for i, row in movies.iterrows():
        one_hot_encoded_dict[i] = {}
        for genre in genres_set:
            one_hot_encoded_dict[i][genre] = 0
    for i, row in movies.iterrows():
        for genre in row['genres'].split('|'):
            one_hot_encoded_dict[i][genre] = 1 # update columns with 1
    # create df wiht one-hot encoded genres
    encoded=pd.DataFrame.from_dict(one_hot_encoded_dict, orient='index') 
    # concat movies with encoded dataframe
    result_df = pd.concat([movies, encoded],axis=1)
    return result_df
    
# YOUR CODE HERE
#raise NotImplementedError()

In [33]:
assert_equal(one_hot_encode(new_movies).loc[1, ['Adventure', 'Animation', 'Children']].values, [1, 1, 1])
assert_equal(one_hot_encode(new_movies).loc[2, ['Adventure', 'Animation', 'Children']].values, [1, 0, 1])
assert_equal(one_hot_encode(new_movies).loc[193581, ['Thriller', 'War', 'Western']].values, [0, 0, 0])

# Exercise 3: COVID-19 (22 points)
In this exercise, we use data from the [COVID-19 Data Repository](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us) by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University and CDC (Centers for Disease Control and Prevention).

We have downloaded all US daily COVID reports from January 2022 till December 2022 and placed it in the `data/covid/` folder.  Each file corresponds to a single day and the documentation of a report can be found [here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data#usa-daily-state-reports-csse_covid_19_daily_reports_us). 

This exercise consists of five questions. To help you start, the code below loads each daily report as a dataframe and stores it in a list variable named `dfs`.

In [34]:
def add_date_column(df, date):
    """Add a date column."""
    df['Date'] = date
    return df

DATA_DIR = Path('data/covid/')
dfs = [add_date_column(pd.read_csv(path), path.name.rstrip('.csv')) for path in sorted(DATA_DIR.glob('*.csv'))]

## `total_population_size` (2 points)
The daily reports do not contain data on the population size, but this can
be inferred from the "Confirmed" and "Incident_Rate" column. 

-  Return the total US population size for a given daily report dataframe. Round your answer to the nearest integer.

In [35]:
def total_population_size(df: pd.DataFrame):
    total = 0
    for i in range(len(df)) :
        confirmed = df.iloc[i]['Confirmed']
        incident_rate = df.iloc[i]['Incident_Rate']
        if pd.isnull(confirmed) or pd.isnull(incident_rate):
            continue
        # calculate with formula 100000 * confirmed cases / incident rate
        total = 100000* confirmed/incident_rate + total
    return round(total)
    
# YOUR CODE HERE
#raise NotImplementedError()

In [36]:
assert_equal(total_population_size(dfs[0]), 332285602)

## `highest_mortality_rate_state` (6 points)
-  Write a function called `highest_mortality_rate_state` that takes a daily report DataFrame as input.
- The function should add a new column called `Mortality_Rate` to the given DataFrame. Mortality_Rate is the total number of deaths per 100_000 inhabitants.
- The function should then return the name of the state with the highest mortality rate and the corresponding mortality rate. The mortality rate should be rounded to two decimal places.

In [37]:
def highest_mortality_rate_state(df: pd.DataFrame) -> Tuple[str, float]:
    df['Mortality_Rate'] = 0
    for i, row in df.iterrows():
        confirmed = row['Confirmed']
        incident_rate =row['Incident_Rate']
        deaths = row['Deaths']  
        # calculate population size by  100000*confirmed cases/incident rate
        population_size = 100000*confirmed/incident_rate
        # calculate mortality rate by 100000*deaths/population size
        mortality_rate = 100000*deaths/population_size
        # locate the row with most mortality rate
        df.at[i, 'Mortality_Rate'] = round(mortality_rate, 2)
    highest = df.loc[df['Mortality_Rate'].idxmax()]
    return highest['Province_State'], highest['Mortality_Rate']
# YOUR CODE HERE
#raise NotImplementedError()

In [38]:
assert_equal(highest_mortality_rate_state(dfs[0]), ('Mississippi', 351.12))

## `deadliest_month` (6 points)
- Write a function called `deadliest_month` that takes the list of daily covid reports dataframes and a state abbreviation as input.
- The function should compute the month during which the most deaths have occured for the given state and return that month as an integer.
- The data starts on 1 January 2022 and ends on 31 December 2022. To get the death count for a certain day, you need to subtract the "Deaths" value for two consecutive days. For example, the number of deaths on January 2nd can be counted by subtracting the "Deaths" count of January 2nd with January 1st.
- Additionally, the function should not consider data for Dec 31, 2021, hence you may assume that there are 0 deaths on January 1st.
- We have provided the `concat_dfs` function that concatenated all dataframes into a single one.

In [39]:
def concat_data(dfs):
    """
    Returns a single data frame in which all individual data frames are concatenated.
    Sorts the dataframe on 1) "Date" and 2) "Province_State" column. Also reset the index with drop=True.
    """
    new = pd.concat(dfs)
    return new.sort_values(['Date', 'Province_State']).reset_index(drop=True)

In [40]:
def deadliest_month(dfs: List[pd.DataFrame], state: str) -> int:
    data = concat_data(dfs)
    state_data = data[data['Province_State']==state]
    deadliest_month = 0
    max_deaths = 0
    previous_month = 0
    previous_deaths = 0
    for _, row in state_data.iterrows():
        # convert date colum to date object
        date=pd.to_datetime(row['Date'])
        current_month = date.month
        # checks if it is not the previosu month
        if current_month != previous_month:
            # calculate net death 
            net_deaths = row['Deaths'] - previous_deaths
            # check if net death is bigger than max 
            if net_deaths >= max_deaths:
                max_deaths =net_deaths
                deadliest_month = current_month
        # update previous month and deaths
        previous_month = current_month
        previous_deaths = row['Deaths']
    return deadliest_month+1
        
# YOUR CODE HERE

#raise NotImplementedError()

In [41]:
assert_equal(deadliest_month(dfs, 'Alabama'), 2)

## `daily_number_confirmed_cases` (8 points)

- Write a function called `daily_number_confirmed_cases` that takes two inputs: a list of daily report dataframes and a list of state names.
- The function should return the day (in `MM-DD-YYYY` format) with the highestt total number of newly confirmed cases for the given list of states together.
- The data starts on 1 January 2022 and ends on 31 December 2022. Similar to the previous question, to get the newly confirmed cases count for a given day, you need to subtract the "Confirmed" value for two consecutive days. For example, the number of newly confirmed cases on January 2nd can be counted by subtracting the "Confirmed" count of January 2nd with January 1st.
- Additionally, the function should not consider data for Dec 31, 2021, hence you may assume that there are 0 newly confirmed cases on January 1st.

In [42]:
def daily_number_confirmed_cases(dfs: List[pd.DataFrame], states: List[str]) -> str:
    concatenated= pd.concat(dfs)
    filtered = concatenated[concatenated['Province_State'].isin(states)]
    filtered = filtered.reset_index()
    num_states = len(states)
    net_confirmed_cases = []
    # get confirmed cases 
    confirmed_cases = np.array(filtered['Confirmed'][:num_states])
    for i in range(0, len(filtered), num_states):
        # get new confirmed casses for next states
        new_confirmed_cases = np.array(filtered.iloc[i: i+ num_states]['Confirmed'])
        # calculate diff between net and confirmed cases
        difference = new_confirmed_cases - confirmed_cases
        net_confirmed_cases.append(difference)
        # update fot next iteration
        confirmed_cases = new_confirmed_cases
    net_confirmed_cases = np.array(net_confirmed_cases)
    # sum rach confirmed casess per day
    confirmed_cases_per_day= net_confirmed_cases.sum(axis=1)
    # index of max confirmed cases per day
    max_index = np.argmax(confirmed_cases_per_day)
    # get date for the max confirmed cases 
    max_date = filtered.iloc[max_index*num_states]['Date']
    return max_date
    
    # YOUR CODE HERE
##raise NotImplementedError()

In [43]:
assert_equal(daily_number_confirmed_cases(dfs, ['California']), '01-16-2022')
assert_equal(daily_number_confirmed_cases(dfs, ['California', 'Texas', 'New York']), '01-03-2022')

# Exercise 4: Energy and emissions (22 points)
In this exercise, we will be working with two datasets from Our World In Data on energy production and CO2 emissions. The original datasets can be found at the following links:
- https://github.com/owid/co2-data/
- https://github.com/owid/energy-data/

The two data sets are loaded as `energy` and `emissions` variables below. We have modified the energy dataset to only contain a subset of the columns, but the emissions dataset is the same as the original version. Details about the data can be found in the "codebooks":
- https://github.com/owid/energy-data/blob/master/owid-energy-codebook.csv
- https://github.com/owid/co2-data/blob/master/owid-co2-codebook.csv

In [44]:
energy = pd.read_csv('data/owid/energy.csv')
emissions = pd.read_csv('data/owid/emissions.csv')

## ``electricity_surplus`` (2 points)
- Write a function called `eletricity_surplus` that takes three arguments: a pandas DataFrame called `energy`, a string called `country`, and an integer called `year`. 
- The function should return a float representing the electricity surplus for the given country and year. 
- You may assume that `renewables_electricity` is a **separate** electricity production category, so it's different from `solar_electricity`, `wind_electricity` or `biofuel_electricity`.

In [45]:
def eletricity_surplus(energy: pd.DataFrame, country: str, year: int) -> float:
    data = energy[(energy['country'] == country) &(energy['year'] == year)]
    # calculate the electricity surplus
    renewables= data['renewables_electricity'].values[0]
    solar = data['solar_electricity'].values[0]
    wind= data['wind_electricity'].values[0]
    biofuel = data['biofuel_electricity'].values[0]
    oil = data['oil_electricity'].values[0]
    nuclear = data['nuclear_electricity'].values[0]
    gas = data['gas_electricity'].values[0]
    coal = data['coal_electricity'].values[0]
    # add them ton calculate production
    production = renewables + solar + wind+ biofuel + oil + nuclear + gas + coal
    demand = data['electricity_demand'].values[0]
    surplus = production - demand
    return round(surplus, 2)
   
# YOUR CODE HERE
#raise NotImplementedError()

In [46]:
assert_equal(eletricity_surplus(energy, 'Netherlands', 2020), 35.36)

## ``most_relative_solar_production_by_year`` (6 points)
- Write a function called `most_relative_solar_production_by_year` that takes a pandas DataFrame called `energy` as input. 
- The function should return a new DataFrame. Each row should contain the country name and the relative solar production (rounded to three decimal places). The row indices should correspond to the year.
- The relative solar production is computed as the `solar_electricity / electricity_demand`.

**Example using dummy data**:

In [47]:
# This is an example on dummy data that you can use to test your function.

# df = pd.DataFrame({'country': ['USA', 'USA', 'USA', 'Canada', 'Canada', 'Canada'],
#                        'year': [2010, 2011, 2012, 2010, 2011, 2012],
#                        'electricity_demand': [101, 110, 120, 50, 60, 70],
#                        'solar_electricity': [1, 20, 30, 5, 10, 15]})
# result = most_relative_solar_production_by_year(df)
# print(result)
# #       country  solar_relative
# # year                         
# # 2010   Canada           0.100
# # 2011      USA           0.182
# # 2012      USA           0.250

In [48]:
def most_relative_solar_production_by_year(energy: pd.DataFrame) -> pd.DataFrame:
    # generate new dataframe
    new_df =energy[["year", "country", "electricity_demand", "solar_electricity"]].copy()
    # compute relative solar production
    new_df["solar_relative"] = round(new_df["solar_electricity"] / new_df["electricity_demand"], 3)
    # best valıes per year
    best_values = new_df.groupby("year")["solar_relative"].idxmax()
    result = new_df.loc[best_values]
    result.set_index("year",inplace=True) # index to year
    # drop the electricity demand and solar electritiy columns
    result.drop(columns=["electricity_demand", "solar_electricity"], inplace=True)
    return result

# YOUR CODE HERE
#raise NotImplementedError()

In [49]:
df = most_relative_solar_production_by_year(energy)

# Check which country has the highest relative solar production in 2010
actual = df.loc[2010].values.tolist()
desired = ['Reunion', 0.028]

assert_equal(actual, desired)

## ``electricity_demand_growth`` (6 points)
- Write a function called `electricity_demand_growth` that takes a pandas DataFrame called `energy` as input. 
- The function should compute the absolute growth in electricity demand from the previous year for each row in the `energy` DataFrame, and return a new DataFrame with the same columns as `energy`, plus a new column called `electricity_demand_growth` that contains the growth in electricity demand from the previous year. 
- When there is no electricity demand information available about the previous or current year, the growth value should be `NaN`.
- You can assume that the input DataFrame contains subsequent year data for all countries. In other words, a country will always have data for a range of years (e.g., 2000-2020) without missing years.

**Example using dummy data:**

In [50]:
# df = pd.DataFrame({'country': ['Netherlands', 'Netherlands', 'Netherlands', 'Italy', 'Italy', 'Italy', 'India', 'India', 'India'],
#                        'year': [2018, 2019, 2020, 2000, 2001, 2002, 2015, 2016, 2017],
#                        'electricity_demand': [100, 100, 98, 100, 105, 110, 100, 159.46, np.nan]})
# result = electricity_demand_growth(df)
# print(result)
# #         country  year  electricity_demand  electricity_demand_growth
# # 0   Netherlands  2018              100.00                        NaN
# # 1   Netherlands  2019              100.00                       0.00
# # 2   Netherlands  2020               98.00                      -2.00
# # 3         Italy  2000              100.00                        NaN
# # 4         Italy  2001              105.00                       5.00                  
# # 5         Italy  2002              110.00                       5.00 
# # 6         India  2015              100.00                        NaN
# # 7         India  2016              159.46                      59.46
# # 8         India  2017              NaN                           NaN

In [51]:
def electricity_demand_growth(energy: pd.DataFrame) -> pd.DataFrame:
    energy = energy.sort_values(['country', 'year'])
    #calcualate electricity demand growth 
    energy['electricity_demand_growth'] = energy.groupby('country')['electricity_demand'].diff()
    energy = energy.sort_index() # sort by index
    return energy

# YOUR CODE HERE
#raise NotImplementedError()

In [52]:
df = electricity_demand_growth(energy)

# Check the electricity demand growth for the Netherlands in years 2000, 2019 and 2020.
condition = (df['country'] == 'Netherlands') & (df['year'].isin([2000, 2019, 2020]))
assert_allclose(df.loc[condition, 'electricity_demand_growth'].values, [np.nan, 0., -1.52])

## `correlation_electricity_demand_and_co2_emissions` (8 points)
- Write a function called `correlation_electricity_demand_and_co2_emissions` that takes three pandas DataFrames called `energy`, `emissions`, and `country` as input. 
- The function should merge the `energy` and `emissions` DataFrames on the `country` and `year` columns and filter the resulting DataFrame to only include rows for the specified `country`.
- Then, the function should compute the Pearson correlation between electricity demand (`energy.electricity_demand`) and CO2 emissions (`emissions.co2`) for the filtered DataFrame, and return the correlation rounded to two decimal places.
- If a row contains no value for the electricity demand or CO2 emissions, then that row may be ignored.

In [53]:
def correlation_electricity_demand_and_co2_emissions(energy: pd.DataFrame, emissions: pd.DataFrame, country: str) -> float:
    #merge the energy and emissions DataFrames on the country and year columns
    merged = pd.merge(energy, emissions, on=['country', 'year'])
    #filter the resulting DataFrame to only include rows for the specified country.
    filtered = merged[merged['country'] == country]
    # compute the Pearson correlation between electricity demand (energy.electricity_demand) and CO2 emissions (emissions.co2) for the filtered DataFrame,
    correlation = filtered['electricity_demand'].corr(filtered['co2'], method='pearson')
    correlation = round(correlation, 2) # round to 2
    return correlation
# YOUR CODE HERE
#raise NotImplementedError()

In [54]:
assert_equal(correlation_electricity_demand_and_co2_emissions(energy, emissions, 'Netherlands'), -0.34)